body {
    padding: 10px;
}

h2 {
    text-transform: capitalize;
    margin-bottom: 50px;
}

/* bio */
.name {
    text-transform: capitalize;
}

.bio span {
    margin-left: 20px
}

/* nav */
.nav a {
    font-size: 0.9rem;
}

.categories-list {
    border-bottom: 1px solid #d8d8d8;
}

/* components */

.container .category-count-info {
    background: blue;
    border-radius: 5px;
    font-size: 15px;
    color: white;

    padding: 5px
}

.no-pointer {
    cursor: auto;
}

.form-control-checkbox, .category-list-item {
    text-transform: capitalize;
    margin-right: 10px;
}

.errorlist li {
    color: red;
    list-style-type: none;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}

.card-image {
    height: 100%;
    width: 100%;
}

.card-body .price {
    color: green
}

.no-padding {
    padding: 0px
}

/* listing */
.container .card .listing .price {
    font-size: 25px;
}
.container .card .listing div {
    margin-bottom: 10px
}

.container .card .listing .category ul {
    float: clear
}

.nav a, .listing .category ul li a{
    text-transform: capitalize;
}

.container .card .listing .price{
    color: green;
}

.container .card .listing .bid{
    color: orange;
}

/* footer */
.blog-footer {
    padding: 1.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}
