{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
        <meta property="og:title" content="Commerce - CS50's Web Programming with Python and JavaScript">
        <link href="https://cs50.harvard.edu/web/2020/favicon.ico?1599763123" rel="icon">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

        <!-- (Optional) Latest compiled and minified JavaScript translation files -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>
    </head>
    <body>

        <div class="container">
          <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-3 text-left" wfd-id="50">
                    <a class="blog-header-logo text-dark" href="{% url 'index' %}">Auctions</a>
                </div>
                <div class="col-5 text-left">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'watchlist' %}">My Watchlist</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'mylistings' %}">My Listing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'mybids' %}">My Bids</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center bio">
                    {% if user.is_authenticated %}
                        <span>
                            <span class="name"> {{ user.username }}</span>
                        </span>
                        <span>
                            <a class="btn btn-sm btn-primary" href="{% url 'logout' %}">Log Out</a>
                        </span>
                        <span>
                            <a class="btn btn-sm btn-success" href="{% url 'listing_create' %}">Create</a>
                        </span>
                    {% else %}
                        <a class="btn btn-sm btn-primary" href="{% url 'login' %}">Sign up</a>
                    {% endif %}
                </div>
            </div>
          </header>

          <div class="nav-scroller py-1 mb-2">
            <nav class="nav categories-list d-flex justify-content-between">
              {% for category in categories %}
                <a class="p-2 text-muted" href="{% url 'category' category.id %}">{{ category.title }}</a>
              {% endfor %}
            </nav>
          </div>

          {% block auth %}
          {% endblock %}


          <div class="row mb-2">
              {% block body %}
              {% endblock %}
          </div>
        </div>

        <footer class="blog-footer">
          <p>Made with <a href="https://www.linkedin.com/in/svishnevskii/">♥️</a></p>
          <span>CS50’s Web Programming with Python and JavaScript</span><br>
          <span>Project 2: Commerce</span>
        </footer>
    </body>
</html>
