{% extends "auctions/layout.html" %}

{% block title %}
    {{ listing.title }}
{% endblock %}

{% block body %}
        <div class="col-md-4">
            <div class="card-image" style="background: url({{ listing.image }}) no-repeat center; background-size: cover;" alt="{{ listing.title }}">
            </div>
        </div>
        <div class="col-md-8">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="listing card-body d-flex flex-column align-items-start">
                    <div class="title">
                        <h1>{{ listing.title }}</h1>

                        <ul class="list-inline">
                            {% if listing.user.id == user.id and listing.disable == False %}
                                <li class="list-inline-item">
                                    <form action="{% url 'closebid' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="listing_id" value="{{ listing.id }}">
                                        <input type="hidden" name="winner_id" value="{{ listing.winner.id }}">
                                        <input type="submit" name="" value="Close Position" class="btn btn-danger">
                                    </form>
                                </li>
                            {% endif %}
                            <li class="list-inline-item">
                                {% if has_watchlist %}
                                    <a class="btn btn-warning btn-xs btn-block" href="{% url 'delete_watchlist' listing.id %}">Remove from watchlist</a>
                                {% else %}
                                    <a class="btn btn-primary btn-xs btn-block" href="{% url 'add_watchlist' listing.id %}">Add Watchlist</a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>

                    <div class="category">
                        <strong>Categories: </strong>
                        <ul class="list-inline" >
                            {% for item in self_categories %}
                                <li class="list-inline-item">
                                    <a href="{% url 'category' item.category.id %}"> {{ item.category.title }}</a>
                                </li>
                            {% empty %}

                                <p>Not Categories Listed</p>

                            {% endfor %}
                        </ul>
                    </div>

                    <div class="description card-text mb-auto">
                        <strong>Description: </strong>
                        {{ listing.description }}
                    </div>
                    <br>

                    <div class="seller">
                        <strong>Listed by: </strong><span class="name">{{ listing.user.username }}</span>
                    </div>
                    <div class="price">
                        <strong>Current Price: </strong>${{ listing.bid }}
                    </div>

                    {% if listing.disable and listing.winner.id == user.id %}
                        <span title="You Winner" class="btn btn-lg btn-success">You Winner</span>
                    {% elif listing.disable %}
                        <span title="Sold" class="alert alert-danger">Sold</span>
                    {% endif %}

                    {% if user.is_authenticated != listing.user and listing.disable == False %}

                        {% if has_alert != "" %}
                            <div class="alert alert-danger">{{ has_alert }}</div>
                        {% endif %}

                        <strong>Place Your Bid : </strong>

                        <form action="{% url 'placebid' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="listing_id" value="{{ listing.id }}">

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input name="bid" type="number" class="form-control" required="">
                            </div>
                            <hr>
                            <input class="btn btn-success" type="submit" value="Place Bid">
                        </form>
                    {% endif %}
                    <br>

                </div>
            </div>

        </div>
        <!-- Comments -->
        {% include 'auctions/components/comment.html' %}

{% endblock %}
