{% extends "auctions/layout.html" %}

{% block body %}
        <div class="container">
            <div class="col-md-12">
                <h2>My Watchlist</h2>
            </div>
        </div>
        <hr>
        {% for view in watchlist %}
            {% include 'auctions/components/listing.html' with listing=view.listing %}
        {% empty %}
            <div class="container">
                <div class="col-md-6">
                    <h5>Your watchlist is empty</h5>
                </div>
            </div>
        {% endfor %}
{% endblock %}
