<div class="col-md-12">
    <h3>Comments</h3>
</div>
{% for comment in comments %}
    <div class="col-md-12">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="col-7">
                <div class="card-body d-flex flex-column align-items-start">
                    {{ comment.description }}
                </div>
            </div>
        </div>
    </div>
{% empty %}
    <div class="col-md-12">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="col-7">
                <div class="card-body d-flex flex-column align-items-start">
                    Be the first to comment
                </div>
            </div>
        </div>
    </div>
{% endfor %}
<div class="container">

    <form  action="{% url 'comment' listing.id %}" method="POST">
        {% csrf_token %}
        {{ comment_form }}
        <br>
        <input type="submit" class="btn btn-primary" name="">
    </form>
</div>
